
@{
    ViewData["Title"] = "Index";
}


@section Scripts
{
    <script type="text/javascript">
    
        $(document).ready(function () {

            function loadComments() {
                $("#loading").show();

                $.ajax({
                    type: "GET",
                    url: "/visitorajax/VisitorCommentList",
                    success: function (data) {

                        console.log(data);

                        $("#Comments").html("");

                        $.each(data,function (index, item)  {
                            let comment = `<div class="card mt-3" style="width: 18rem; ">
                                                <div class="card-body">
                                                    <h5 class="card-title">${item.name}</h5>
                                                    <h6 class="card-subtitle mb-2 text-body-secondary">${item.date}</h6>
                                                    <p class="card-text">${item.comment}</p>
                                                </div>
                                            </div>`;

                            $("#Comments").append(comment);
                        })
                        $("#loading").hide();
                    },
                    error: function (e) {
                        console.log(e);
                    },
                })
            }

            loadComments();

            $("#btnSave").click(function () {
                
                var name = $("#Name").val();
                var comment = $("#Comment").val();

                var jsonData = { "name": name, "comment": comment };

                $.ajax({
                    type:"POST",
                    url:"/visitorajax/SaveVisitorComment",
                    data: jsonData,
                    success: function (data) { 
                        alert("yorum kaydedildi");
                        loadComments();
                    },
                    errro: function (errror) {
                        console.log(error);
                    },
                })
            })
        })
        
    </script>
}


<div class="mb-3">
    <label for="Name" class="form-label">Name</label>
    <input class="form-control" id="Name" name="Name">
</div>

<div class="form-floating mb-3">
    <textarea id="Comment" name="Comment" class="form-control" placeholder="Leave a comment here" style="height: 100px"></textarea>
    <label for="Comment">Comments</label>
</div>

<button id="btnSave" type="button" class="btn btn-primary">Submit</button>

<div id="loading">
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<div id="Comments">
    
</div>