@{
    ViewData["Title"] = "Example2 Controller Index Sayfası";
    Layout = "ExampleLayout";
}
@section Header
{
    <div>This Codes will be added under the header </div>
}

@section Footer
{
    <div>This Codes will be added under the footer </div>
}


<div>Bu sayfa Example Controller 2 Index Sayfası</div>