
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoLayout</title>
</head>
<body>
    This page does not feed from layouts.
    <partial name="_MenuPartialView" />
</body>
</html>
