@{
    ViewData["Title"] = "Home Page";
}

@section Css
{
    <link rel="stylesheet" href="~/css/Example.css" asp-append-version="true" />
    
}

@section Scripts
{
    <script type="text/javascript">
        //alert("Welcome to our page")    
        $(document).ready(function () {
            consolo.log("Welcome to our page")
        })
    </script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">Welcome</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@*<partial name ="_MenuPartialView" />
@await Html.PartialAsync("_MenuPartialView")
@Html.Partial("_MenuPartialView")*@
