@{
    ViewData["Title"] = "Home Page";

    var product = new Product() { Id = 58, Name = "Deneme", Price = 33, Stock = 58};
}

@section Css
    {
}

@section Scripts
    {
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">Welcome</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="row">
    <div class="col-md-4">
        <partial name="~/PartialViews/_ProductListPartialView.cshtml" model="@ViewBag.ProductListPartialViewModel" />
    </div>
    <div class="col-md-4">

        @* First Way *@
        @*@await Component.InvokeAsync("ProductList",new{type = 1})*@

        @* Second Way *@
        <vc:product-list type="1"></vc:product-list>

    </div>
    <div class="col-md-4">
        <italic>Asp .Net Core</italic>
        
        <product-show product="product"></product-show>

    </div>
</div>

<div>
    <img src="/images/gs.png" />
    <thumbnails image-src="/images/gs.png"></thumbnails>
</div>